<div class="sidebar">
  <h3 class="sidebar_header">Quotes Finder</h3>
  <a href="/home" id="home">Home</a>
  <a href="/allAuthors" id="allAuthors">All Authors</a>
  <a href="/addAuthor" id="addAuthor">Add Author</a>
  <a href="/searchQuotes" id="searchQuotes">Search Quotes</a>
  <a href="/allQuotes" id="allQuotes">All Quotes</a>
  <a href="/addQuote" id="addQuote">Add Quote</a>

  <a href="/logout">Log Out</a>
</div>
