<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
    <link href="/css/quotes.css" rel="stylesheet" />
  </head>
  <body>
    <div class="main-container">
      <%- include("partials/sidebar.ejs") %>
      <div class="quotes-layout">
        <h1 class="title">Coming Soon..</h1>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
